# intelliJ idea git ignore
*.iml
*.idea
*.log
*target*
*.txt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.pdf
*.tsv
*.csv

docs/FormatSpecifications/
docs/UniProtSimpleLists.xlsx
docs/plots/
resources/.RData
resources/.Rhistory
resources/DensityHitPathways.png
resources/DensityHitPathways4.svg
resources/uniprot-all.fasta.gz
resources/uniprot-all.fasta/